 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');



.abstract-container{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 10% 0 10%;
height: 400px;
background-color: #15202b;
/* filter: drop-shadow(30px 10px 4px #4444dd); */
}

.left-abs{
    width: 500px;
    padding-left: 5%;
}

.left-abs h2{
    color: white;
    text-align: left;
    font-size: 38px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
}

.left-abs hr{
    border: 1px solid gray;
    text-align: left;
    margin-bottom: 5px;
    
}

.left-abs p{
    color: white;
    text-align: left;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}

.right-abs{
    padding-right: 5%;
}

.right-abs img{
    height: 275px;
    width: 450px;
}
