*{
    margin:0;
    padding:0;
    font-family: 'Ibarra Real Nova', serif;
}

html{
    overflow-x:hidden;
}

body{
    overflow-x:hidden;
}


.bg-video{
    position: absolute;
    z-index: -1;
    width: 100%;
    
}

.header{
    height: 100vh;
    /* width:100%; */
    /* background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://st3.depositphotos.com/1084193/17793/v/600/depositphotos_177937076-stock-illustration-neural-network-concept-connected-cells.jpg"); */
    /* background-position: center; */
    /* background-size: cover; */
    /* position:relative; */
}


nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
}

nav img{
    width: 75px;
}

nav p{
    color:#fff;
} 

.nav-links{
    flex:1;
    text-align:right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
     
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background:#fff;
    display:block;
    margin:auto;
    transition:0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.text-box{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size:62px;
    font-family: 'Open Sans', sans-serif;
    font-size: 175px;
    letter-spacing: 1.4rem;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 15px;
    color:#fff;
}

nav .fa{
    display:none;
}



/* ********************************************  ABSTRACT  ********************************************  */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');



.abstract-container{
    position: relative;
display: flex;
justify-content: space-between;
align-items: center;
/* margin: 0 10% 0 10%; */
padding-top: 5%;
height: 400px;
background-color:  #121212;
}

.left-abs{
    width: 500px;
    padding-left: 5%;
    margin-left: 5%;
}

.left-abs h2{
    color: white;
    text-align: left;
    font-size: 38px;
    margin-bottom: 3px;
    font-family: 'Open Sans', sans-serif;
}

.left-abs hr{
    border: 1px solid gray;
    text-align: left;
    margin-bottom: 10px;
    
}

.left-abs p{
    color: white;
    text-align: left;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
}

.right-abs{
    padding-right: 5%;
    margin-right: 5%;
}

.right-abs img{
    height: 275px;
    width: 450px;
}





 /* ********************************************  MEDIA QUERY  ********************************************  */


@media(max-width: 700px){
    .text-box h1{
        font-size:30px;
    }
    .nav-links ul li{
        display:block;   
    }
    .nav-links{
        position: absolute;
        background: #080e17;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index: 2;
        transition:1s;
    }
    nav.fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding:30px;
    }
    nav .fa{
        display: block;
        color:#fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

}


.bgvideo
{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio:16/9)
{
    .bg-video{
        width: 100%;
        height: 100%;
    }
}

@media(max-aspect-ratio:16/9)
{
    .bg-video{
        width: auto;
        height: 100%;
    }
}



